.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
    color: white;
}

.navbar a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff4757;
    letter-spacing: 1px;
}

.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero {
    height: 70vh;
    background: linear-gradient(to right, #000, #333);
    color: white;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    color: white;
    margin-top: 20px;
    width: fit-content;
    padding: 12px 24px;
    background: #ff4757;
    text-decoration: none;
    border-radius: 6px;
}

.featured {
    padding: 40px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 24px;
}

.game-card {
    background: #1c1c1c;
    border-radius: 14px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.game-card.hidden {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.game-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.game-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
}

.game-info {
    padding: 15px;
}

.game-title {
    font-size: 18px;
    margin-bottom: 6px;
}

.game-genre {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 12px;
    font-style: italic;
}

.game-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.game-price {
    font-size: 16px;
    font-weight: bold;
    color: #ff4757;
}

.view-btn {
    padding: 6px 14px;
    background: #ff4757;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}

.view-btn:hover {
  background: #ff6b81;
}

.categories {
    padding: 60px 40px;
    background: #0f0f0f;
    color: white;
}

.categories h2 {
    margin-bottom: 30px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, mimmax(160px, 1fr));
    gap: 20px;
}

.category-card {
    font-size: 18px;;
    height: 90px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(135deg, #222, #111);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.cta {
    padding: 80px 40px;
    text-align: center;
    background: linear-gradient(135deg, #ff4757, #ff6b81);
    color: white;
}

.cta h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.cta p {
    font-size: 18px;
    margin-bottom: 25px;
}

.cta-btn {
    width: fit-content;
    padding: 14px 32px;
    font-size: 16px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.cta-btn:hover {
    background: #000;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #aaa;
}
