
.hero {
    position: relative;
    overflow: hidden;
}


.hero-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}


.hero-video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


.hero > :not(.hero-video-bg) {
    position: relative;
    z-index: 2;
}